* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.navbar-brand img {
  max-width: 100%;
  height: auto;
}
.img-logo{
  
  text-shadow: 0 0 5px #A0153E, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}
body {
  background-color: #00224D !important;
  min-height: 100vh !important;
  margin: 0 !important;
}

h1 {
  font-size: 36px;
  color: #333;
  text-shadow: 0 0 5px #A0153E, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

h5 {
  font-size: 5 px;
  color: black;
  text-shadow: 0 0 5px #A0153E, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}
p{
  color:white;
  /* text-shadow: 0 0 5px #A0153E, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff; */
}
/*Cards*/

.cardsPadre {
  padding-top: 2rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.caratula {
  height: 18rem !important;
  width: 14rem !important;
  content: max !important;
}

.caratula img {
  width: 100% !important;
  height: 260px !important;
  transition-property: filter !important;
  transition-duration: 1s !important;

}

.caratula img:hover {
  transform: scale(1.1) !important;
}

footer {
  background-color: #A0153E;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
  min-height: 100px;
  position: relative;
  left: 0;
  bottom: 0;
}
